<nav>
    <div id="site-title">
        <href="/"><h1>Katterna</h1></href>
        <p>En kattsida</p>
    </div>
    <ul>
        <li><a href="/">Kattbloggar</a></li>
        <li><a href="/about">om kattbloggar</a></li>
        <li><a href="/blogs/create">ny kattblogg</a></li>
    </ul>
</nav>