<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 
    <title>Add friends</title>

    <script>

        // For copy to clipboard button
        function myFunction() {

            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }
    </script>
</head>
<body>

    <div class="container login-container button-container">
        <a href="/"class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">home</i>Home</a>
        <a href="/friends/view"class="waves-effect waves-light btn-small"><i class="material-icons va-bottom">group</i>View friends</a>
    </div>

            <h3>Add a friend</h3>


    <h5>Your user-code</h5>
    
    <input type="text" value={{ contactCode }} id="myInput">
    <button class="btn-small btn-gray" onclick="myFunction()"><i class="material-icons va-bottom">content_copy</i>Copy code</button>
    <a class="btn-small btn-gray" href="sms:/* phone number here */&body=My contact-code for adding me as a friend at https:://www.spync.se is: {{ contactCode }}"><i class="material-icons va-bottom">textsms</i>SMS code</a>


<div class="row">
    <form action="/friends" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" autocomplete="off">
                <label for="title">Insert user-code of the person you want to add to your friends</label>
                <button type="submit" class="waves-effect waves-light btn-small">Add friend <i class="material-icons va-bottom">send</i></button>
            </div>
        </div>


        <div class="row">
        </div>
    </form>

    {{ error }}

    {{ prompt }} 

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>