<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="spync" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ff813f" data-position="Right" data-x_margin="18" data-y_margin="18"></script> 

    
<div class="login-container">
    <h2>About Sp|ync</h2>
</div>

<div class="divider"></div>

<div class="login-container">
    <h5>How the idea was born</h5>
    <p>The idea for creating Spync.se was actually born in 2018, when I wanted to have a simple way to compare my music taste with friends and new people I met. I suggested the feature to Spotify via their forums, but nothing happened. Then I started to learn programming in the end of 2020 and had to create a larger project for the Computer Science course I was taking, and saw it as a great opportunity to create what I missed in functionality from Spotify</p>
    
    <div class="divider"></div>

    <h5>How do Spync work?</h5>
    <p>Spync offer you to log-in via Spotify and then by adding friends to your profile being able to compare if you share any favorite artists or songs. The web-app is fully automated, the only thing you need to do is to log-in and a user account is created automatically with your spotify username, and you are then given a unique user code, which you can share with people you want to compare your music taste with. You can also add your friends if the have created a user account and share their user-code with you.</p>
    
    <h5>When to use Spync</h5>
    <p>Spync is perfect if you are sitting on a dinner and want to see if you maybe have some common music taste with the person beside you. Or if you are going on a date and want to see how musically compatible you are.</p>


    <div class="divider"></div>
    
    <h5>Do you enjoy the website?</h5>
    <p>Consider buying me a coffee and supporting me paying the server fees each month. Just press the coffe-cup in the bottom right corner and you will be guided to the service "Buy me a coffe" where you can donate between $5-$50 that will be used to make sure the service stay available.</p>
</div>

<div class="divider"></div>
    <br>



