<h3><i class="fas fa-compact-disc"></i> Sp|ync</h3>
<div class="section">
    <div class="lead toplead">--- A music compatability tool ---</div>
    <br>
    <div class="lead">Spync use Spotify API to analyze your top songs and artists, and allow you to compare your taste in music with selected friends.</div>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/spotify" class="btn green darken-1">
            <i class="fab fa-spotify left"></i> Log in with Spotify
        </a>
    </div>
