p {
  margin: 10px 0 !important;
}
.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.collapsible-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.artistprofile {
  padding: 15px;
  justify-content: center;
  text-align: center;
}